body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 36px;
    color:(black);
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  section {
    width: 75%;
    margin: 0 auto;
  }
  .add-img {
    width: 50%;
    margin: 0 2.5%;
  }
  img {
    width: 100%;
  }
  .header-info h1 {
    border-left: 3px solid orange;
    padding-left: 15px;
  }
  span {
    color: aqua;
  }
  .button-style {
    border: none;
    outline: none;
    padding: 10px 24px;
    background-color:rgb(12, 75, 75);
    color: white;
    font-weight: 700;
    border-radius: 4px;
  }
  .box {
    background-color: wheat;
    border-radius: 4px;
    padding: 20px;
  }
  .box h3 {
    font-size: 20px;
  }
  .color2 {
    background-color: blanchedalmond;
    margin: 0 10px;
  }
  .color3 {
    background-color: thistle;
  }
  .box img {
    width: 100px;
    height: 100px;
  }
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form {
    border-radius: 10px;
    background-color:aqua;
    padding: 20px;
    text-align: left;
  }
  .footer {
    width: 100%;
    background: #1e2238;
    text-align: center;
    color: white;
    padding: 15px 5;
    margin-top: 40px;
  }
  .footer h4 {
    font-size: 35px;
  }
  .footer p {
    color: #d9dbe1;
  }